body {
  font-family: 'rowdies';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Added for positioning the pseudo-element */
  overflow: hidden; /* Prevent overflow from the blurred image */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('img/hardware.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: blur(8px); /* Adjust the blur intensity here */
  z-index: -1; /* Place the blurred image behind the content */
}

.sidebar {
  background-color: #263548;
  color: white;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110vh;
}

.menu-links {
  flex-grow: 1; 
}

.bottom-links {
  margin-top: auto; 
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #1a2939;
}

.logo {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  max-width: 150px;
}

.content {
  padding: 20px;
  background-color: #fff;
  margin-top: 90px;
}

.dashboard-card {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.table {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 2px;
}

.table th, .table td {
  vertical-align: middle;
}

.table-container {
  margin-top: 20px;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 1s ease-in-out forwards;
}

.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}
